/* центрирование, wrappers */

.layout {
  min-height: 100vh;
  background: url("/static/images/profile.png") center / cover no-repeat;
}

.layout__body {
  display: flex;
  min-height: 100vh;
  padding-top: var(--topbar-h);
}

.layout__content {
  flex: 1;
  min-width: 0;
  padding: 2rem 1.5rem;
}

@media (min-width: 992px) {
  .layout__content {
    padding: 2.2rem 2.2rem;
  }
}

/*!* когда меню раскрыто – двигаем контент вправо *!*/
/*@media (min-width: 992px) {*/
/*  body.sidebar-open .layout__body {*/
/*    margin-left: 260px;*/
/*    transition: margin-left 0.25s ease;*/
/*  }*/
/*}*/
