<form method="get"
      action="{% if search_type == 'films' %}{% url 'films:film_search' %}
              {% elif search_type == 'my_films' %}{% url 'films:my_film_search' %}
              {% else %}{% url 'films:film_search' %}{% endif %}">
  <div class="movie-search-bar">
    <input name="q"
           value="{{ request.GET.q }}"
           placeholder="Введите название фильма"
           class="form-control movie-search-bar__input" />

    <button type="submit"
            class="auth-btn auth-btn--primary movie-search-bar__button">
      <span class="movie-search-bar__icon">🔍</span>
      Найти фильм
    </button>
  </div>
</form>
