.feedback-container {
  max-width: 1100px;
  margin: 0 auto;
  padding: 20px 20px;
  color: #fff;
}

.feedback.cta-section {
    padding-bottom: 1px;   /* меньше отступ снизу */
    opacity: 0.8;
    background: #1e1e2d;
}

.feedback .cta-text {
  font-size: 1.6rem;       /* меньше шрифт */
  line-height: 1.4;
  padding-bottom: 1px;
}

.feedback .hero-title {
  font-size: 2rem;         /* меньше заголовок */
  padding-bottom: 1px;
}

/* Мобильная адаптация */
@media (max-width: 768px) {
  .feedback .cta-section {
    max-width: 100%;
    padding: 1.5rem;
    margin-bottom: 1.5rem;
  }

  .feedback .cta-text {
    font-size: 1.3rem;
  }
}

/* Мобильные */
@media (max-width: 768px) {
  .feedback-container {
    padding: 0.5rem;
  }
}