{% extends "base.html" %}
{% load static %}

{% block title %}Письмо для восстановления пароля{% endblock %}

{% block body_class %}layout--auth{% endblock %}

{% block content %}
    <div class="auth-wrapper">
        <div class="auth-card">
            <!-- Левая часть: изображение -->
            <div class="auth-image"
                style="background-image: url('{% static "img/auth/register.jpg" %}')">
            </div>

            <!-- Правая часть: форма -->
            <div class="auth-body text-center">
                <h2>Письмо отправлено!</h2>

                <p class="mt-3 mb-5">
                    Мы отправили ссылку для восстановления пароля на вашу почту.
                    Если письма нет, проверьте пожалуйста папку «Спам»
                </p>
                <a href="{% url 'users:login' %}" class="btn btn-primary mt-1 w-75">Вернуться к входу</a>
            </div>
        </div>
    </div>
{% endblock %}

{% block extra_js %}
<script src="{% static 'js/auth.js' %}"></script>
{% endblock %}
