{% extends "base.html" %}
{% load static %}
{% load crispy_forms_filters %}
{% load crispy_forms_tags %}

{% block title %}Восстановление пароля{% endblock %}

{% block body_class %}layout--auth{% endblock %}

{% block content %}
<div class="auth-wrapper">
    <div class="auth-card">
        <!-- Левая часть: изображение -->
        <div class="auth-image"
            style="background-image: url('{% static 'images/symbol_smile.png' %}')">
        </div>

        <!-- Правая часть: форма -->
        <div class="auth-body">
            <div class="text-center">
                <h2>Восстановление пароля</h2>
            </div>
            {% if form.non_field_errors %}
                <div class="form-error">
                    {{ form.non_field_errors|safe }}
                </div>
            {% endif %}

            <div class="text-center mt-3">
                <p>
                    Мы отправим ссылку для восстановления пароля на вашу почту.
                    Если письма нет, проверьте пожалуйста папку «Спам».
                </p>
                <p> Введите email, указанный при регистрации: </p>
            </div>


            <form method="post">
                {% csrf_token %}
                {{ form.email|as_crispy_field }}

                <div class="text-center">
                    <button type="submit" class="btn btn-primary mt-3 w-75">
                        Отправить письмо
                    </button>
                </div>
            </form>
        </div>
    </div>
</div>
{% endblock %}

{% block extra_js %}
<script src="{% static 'js/auth.js' %}"></script>
{% endblock %}
