{% extends "base.html" %}
{% load static %}
{% load crispy_forms_filters %}
{% load crispy_forms_tags %}

{% block title %}Повторное письмо для активации аккаунта{% endblock %}

{% block body_class %}layout--auth{% endblock %}

{% block content %}
<div class="auth-wrapper">
    <div class="auth-card">
        <!-- Левая часть: изображение -->
        <div class="auth-image"
            style="background-image: url('{% static 'images/symbol_smile.png' %}')">
        </div>

        <!-- Правая часть: форма -->
        <div class="auth-body">
            <div class="text-center">
                <h2>У вас не активирован аккаунт?</h2>
            </div>
            {% if form.non_field_errors %}
                <div class="form-error">
                    {{ form.non_field_errors|safe }}
                </div>
            {% endif %}

            <p class="text-center mt-3 mb-5">
                Мы отправим ссылку для подтверждения на вашу почту.
                Если письма нет, проверьте пожалуйста папку «Спам»
            </p>

            <div class="text-center">
                <form method="post">
                    {% csrf_token %}
                    {{ form.email|as_crispy_field }}

                    <button type="submit" class="btn btn-primary mt-3 w-75">
                        Отправить письмо
                    </button>
                </form>
            </div>
        </div>
    </div>
</div>
{% endblock %}

{% block extra_js %}
<script src="{% static 'js/auth.js' %}"></script>
{% endblock %}
