/* COMPONENTS: формы */

.auth-card .form-control {
  background: transparent;
  border: none;
  border-bottom: 2px solid rgba(255,255,255,0.25);
  border-radius: 0;
  padding-right: 2.2rem;
  color: #111;
  font-size: 0.9rem;
  padding-top: 0.25rem;
  padding-bottom: 0.25rem;
}

.auth-card .form-control::placeholder {
  color: #777;
}

.auth-card .form-control:focus {
  /*border-color: #ff8a00;*/
  border-color: var(--accent-primary);
  box-shadow: 0 4px 20px rgb(255, 255, 255);
}

/* errors */
.form-error {
  margin-top: 0.6rem;
  font-size: 0.85rem;
  color: #ff6b6b;
  border-bottom: 1px solid rgba(255,107,107,0.35);
}

.form-error ul {
  margin: 0;
  padding: 0;
  list-style: none;
}