{% extends "base.html" %}
{% load static %}

{% block title %}Результаты поиска{% endblock %}

{% block content %}
<main class="main-content">
  <section class="homepage-section">
    <div class="glass-card movie-section-card">
      <div class="card-header">
        <h2 class="card-title">
          {% if search_type == 'user_films' %}
            Мои фильмы{% if query %}: "{{ query }}"{% endif %}
          {% elif search_type == 'favorites' %}
            Любимое{% if query %}: "{{ query }}"{% endif %}
          {% else %}
            Поиск фильмов{% if query %}: "{{ query }}"{% endif %}
          {% endif %}
        </h2>
      </div>

      <div class="card-body movie-search-body">
        <div class="movie-search-body__search">
          {% include 'includes/search_bar.html' %}
        </div>

        {% if not query %}
          <h3 class="card-title movie-search-body__subtitle">Введите ключевое слово для поиска</h3>
        {% elif page_obj.paginator.count == 0 %}
          <h3 class="card-title movie-search-body__subtitle">Пока ничего не нашли, давай попробуем еще раз</h3>
        {% else %}
          <!-- Сетка из 4 карточек -->
          <div class="movie-search-grid">
            {% for obj in page_obj %}
              {% if search_type == 'user_films' or search_type == 'favorites' %}
                {% include 'films/includes/my_film_preview_card.html' with obj=obj %}
              {% else %}
                {% include 'films/includes/film_preview_card.html' with obj=obj %}
              {% endif %}
            {% endfor %}
          </div>
        {% endif %}
      </div>
    </div>

    {% if page_obj.has_other_pages %}
      <div class="mt-5">
        <div class="d-flex justify-content-center">
          {% include "includes/pagination.html" %}
        </div>

        {% if search_type == 'user_films' or search_type == 'favorites' %}
          <div class="mt-3 text-start">
            <a class="auth-btn auth-btn--primary" href="{% url 'films:my_films' %}">Вернуться к списку</a>
          </div>
        {% else %}
          <div class="mt-3 text-center">
            <a class="auth-btn auth-btn--primary" href="{% url 'films:home' %}">На главную</a>
          </div>
        {% endif %}
      </div>

    {% else %}
      <div class="mt-5 text-center">
        {% if search_type == 'user_films' or search_type == 'favorites' %}
          <a class="auth-btn auth-btn--primary" href="{% url 'films:my_films' %}">Вернуться к списку</a>
        {% else %}
          <a class="auth-btn auth-btn--primary" href="{% url 'films:home' %}">На главную</a>
        {% endif %}
      </div>
    {% endif %}

  </section>
</main>
{% endblock %}
{% block extra_js %}
<script src="{% static 'js/add_film.js' %}"></script>
{% endblock %}
