{% extends "base.html" %}
{% load static %}

{% block title %}Добро пожаловать{% endblock %}

{% block content %}
<main class="main-content">
  <section class="homepage-section">

    {% if user.is_authenticated %}
      <!-- Рекомендации для меня -->
      <div class="glass-card movie-section-card">
        <div class="card-header">
          <h2 class="card-title">Персональные рекомендации на сегодня</h2>
          for film in recommendations[:12]:
            {% include 'films/includes/film_preview_card.html' %}
          <a href="#" class="auth-btn auth-btn--primary">
            Смотреть все
          </a>
        </div>
      </div>

      <!-- Поиск и подборки -->
      <div class="glass-card movie-section-card">
        <div class="card-header">
          <h2 class="card-title">Поиск и подборки фильмов</h2>
        </div>

        <div class="card-body movie-search-body">
          <!-- Строка поиска -->
          <div class="movie-search-body__search">
            {% include 'includes/search_bar.html' %}
          </div>

          <!-- Блок подборок -->
          <div class="movie-search-body__collections">
            <h3 class="card-title movie-search-body__subtitle">Искать в подборках:</h3>

            <div class="movie-search-body__chips">
              <a href="#" class="auth-btn auth-btn--primary">Сейчас в кино</a>
              <a href="#" class="auth-btn auth-btn--primary">Скоро в кино</a>
              <a href="#" class="auth-btn auth-btn--primary">Популярные фильмы</a>
              <a href="#" class="auth-btn auth-btn--primary">Тренды недели</a>
              <a href="#" class="auth-btn auth-btn--primary">Топ‑рейтинговые фильмы</a>
            </div>
          </div>
        </div>
      </div>

      <!-- Запланировано к просмотру -->
      <div class="glass-card movie-section-card">
        <div class="card-header">
          <h2 class="card-title">Запланированные фильмы</h2>
          <a href="#" class="auth-btn auth-btn--primary">Открыть список</a>
        </div>

        <div class="movie-grid">
          {% for movie in planned_movies %}
            <article class="movie-card">
              <img src="{{ movie.poster_url }}" alt="{{ movie.title }}" class="movie-poster">
              <div class="movie-meta">
                <h3 class="movie-title">{{ movie.title }}</h3>
                <p class="movie-extra">План на {{ movie.planned_date }}</p>
              </div>
            </article>
          {% endfor %}
        </div>
      </div>

      <!-- Просмотрено -->
      <div class="glass-card movie-section-card">
        <div class="card-header">
          <h2 class="card-title">Недавно просмотренные</h2>
          <a href="#" class="auth-btn auth-btn--primary">Открыть список</a>
        </div>

        <div class="movie-grid">
          {% for movie in planned_movies %}
            <article class="movie-card">
              <img src="{{ movie.poster_url }}" alt="{{ movie.title }}" class="movie-poster">
              <div class="movie-meta">
                <h3 class="movie-title">{{ movie.title }}</h3>
                <p class="movie-extra">Просмотрено: {{ movie.watched_date }}</p>
              </div>
            </article>
          {% endfor %}
        </div>
      </div>

    {% else %}
      <div class="glass-card movie-section-card">
        <div class="card-header">
          <img src="{% static 'images/banner.png' %}" class="img-fluid" alt="image">
        </div>
        <div class="card-body">
          <p class="mb-3">FilmDiary это фильмы, оценки, эмоции в одном кадре.</p>
          <p>Здесь ты можешь:</p>
          <p><span class="check">✓</span> вести структурированный дневник просмотров,</p>
          <p><span class="check">✓</span> сохранять отзывы, ставь оценки, формировать список любимых фильмов,</p>
          <p><span class="check">✓</span> получать персональные рекомендации на основе собственных оценок и предпочтений,</p>
          <p class="mb-3"><span class="check">✓</span> планировать просмотры в календаре: планируй премьеры, пересматривай лучшие моменты. FilmDiary помнит каждый фильм.</p>
          <p>Регистрируйся, смотри, оценивай, получай рекомендации, планируй.</p>
          <p>Это личное веб-приложение без необходимости социальной сети. У нас уютно как дома!</p>
        </div>
        <div class="text-center mb-4">
          <a class="neon-logo neon-logo--small">
            FilmDiary — твой неоновый маршрут по миру кино, собери свою личную киновселенную
          </a>
        </div>
        <div class="text-center mb-3">
          <a class="auth-btn auth-btn--primary" href="{% url "users:register" %}">Зарегистрироваться</a>
        </div>
      </div>

    {% endif %}
  </section>
</main>
{% endblock %}
