<div class="movie-card glass-card">
  <article class="movie-card">

    {% include 'films/includes/rating.html' %}

    <div class="movie-card__poster-wrapper">
      {% if obj.poster_url or obj.poster_path %}
        <img src="{{ obj.poster_url|default:'https://image.tmdb.org/t/p/w342'}}{{ obj.poster_path|default:'' }}"
          alt="{{ obj.title }}"
          class="movie-poster">
      {% else %}
        <div class="no-poster">🎬</div>
      {% endif %}
    </div>

    <div class="movie-meta mt-2">
      {% if obj.tmdb_id %}
        <a class="movie-title" href="{% url "films:film_detail" tmdb_id=obj.tmdb_id %}">{{ obj.title }}</a>
      {% else %}
        <span class="movie-title">{{ obj.title }}</span>
      {% endif %}
      <p class="movie-extra">
        {{ obj.release_date|slice:":4" }}{% if obj.genres %}, {{ obj.genres }}{% endif %}
      </p>
    </div>

    <!-- оранжевая черта -->
    <div class="movie-card__divider"></div>

    <!-- футер статуса -->
    <div class="movie-card__footer{% if obj.status == 'none' %} movie-card__footer--centered{% endif %}">

      {% if obj.status == "watched" %}
        <span class="status-badge">
          <span class="status-badge__square status-badge__square--{{ obj.rating_color }}"></span>
          <span class="status-badge__text">Просмотрено ({{ obj.rating }})</span>
          {% if obj.is_favorite %}
            <span class="status-badge__icon">🔥</span>
          {% endif %}
        </span>

      {% elif obj.status == "planned" %}
        <span class="status-badge">
          <span class="status-badge__text">Хочу посмотреть</span>
        </span>

      {% else %}
        <button class="btn-add-film glass-btn"
            data-tmdb-id="{{ obj.tmdb_id }}"
            data-title="{{ obj.title }}">
          <span class="btn-add-film__text">Хочу посмотреть</span>
          <span class="btn-add-film__icon">+</span>
        </button>
      {% endif %}

    </div>
  </article>
</div>
